<div class="row padding-topo">


    <div class="col-xs-10 col-md-2">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">{{ambiente}}</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class='data-main' id='data-main'></div>
                <div id="clock_tm"> </div>


                <div class="row">
                    <div class="variacoes text-center imagemtemperatura"></div>
                </div>
                <div class="row">
                    <div class="variacoes text-center descTemperatura"></div>
                </div>


                <div class=" cidade">

                </div>

                <div class="row row-centered">
                    <div class="col-xs-2 col-md-2 col-centered variacoes"><img src="img/maximo.png"></div>
                    <div class="col-xs-4 col-md-4 col-centered variacoes text-left maximograus vcenter "></div>

                    <div class="col-xs-2 col-md-2 col-centered  variacoes"><img src="img/minimo.png"></div>
                    <div class="col-xs-4 col-md-4 col-centered variacoes text-left minimograus vcenter"></div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->


    {% for componente in componentes.equipamentos %} {% for equipamentos in componente.sensores %}

    <div class="col-xs-10 col-md-2 ">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">{{equipamentos.descricao}}</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {% if equipamentos.tipo == 'interruptor' %}

                <div class="switch">
                    <input type="checkbox" id="toggle" ip="{{componente.ip_dispositivo}}" mac_dispositivo="{{componente.mac_dispositivo}}" onchange="changeGPIO('{{componente.mac_dispositivo}}', this)" {% if equipamentos.state=='On' %}
                        checked="checked" {% endif %}>
                    <div class="button"></div>
                </div>
                {% endif %}
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    {% endfor %} {% endfor %}



</div>