<nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
		<div class="navbar-toggler animate">
			<span class="menu-icon"></span>
		</div>
               
		<ul class="navbar-menu animate menuambiente">
                    
			
		</ul>
              
	</nav>